body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {margin:0;padding:0; font-weight:normal;}
body{font:14px/24px Microsoft YaHei,Arial;color:#666}
em{font-style:normal;}
ul,ol {list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
td, th,input,textarea,lable,select{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after {content:"";}
blockquote,q {quotes:"" "";}img{border:none;}li img{vertical-align:bottom;}
div,ul,ol,dl,blockquote{_zoom:1;}
form{margin:0;padding:0}
a{text-decoration:none;}a:hover{text-decoration:none;}
html,body{ width:100%; height:100%;}
.tc {text-align:center;}.tr { text-align:right;}.tl { text-align:left;}.fl{ float:left;}.fr{float:right;}
.caissa-hr5,.caissa-hr10,.caissa-hr15,.caissa-hr20,.caissa-hr25,.caissa-hr30,.caissa-hr35,.caissa-hr140,.caissa-hr40,.caissa-hr70,.caissa-hr100{clear:both;overflow:hidden;font-size:1px;line-height:1px;}.caissa-hr5{height:5px;}.caissa-hr10{ height:10px;}.caissa-hr15{ height:15px;}.caissa-hr20{ height:20px;}.caissa-hr25{ height:25px;}.caissa-hr30{ height:30px;}.caissa-hr70{height:70px;}.caissa-hr100{height:100px;}
.clearfix{*+height:1%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.caissa-hr35{height:35px;}
.caissa-hr40{height:40px;}
.caissa-hr140{height:140px;}
.overflow{ overflow:hidden;}
.caissa-bornone{border:none !important;}
/*common start*/
.caissa-padt5{ padding-top:5px;}
.caissa-padt10{ padding-top:10px;}
.caissa-padt15{ padding-top:15px;}
.caissa-padt20{ padding-top:20px;}
.caissa-padt25{ padding-top:25px;}
.caissa-padt30{ padding-top:30px;}
.caissa-padt35{ padding-top:35px;}
.caissa-padb10{ padding-bottom:10px;}
.caissa-padb15{ padding-bottom:15px;}
.caissa-padb20{ padding-bottom:20px;}
.caissa-padb25{ padding-bottom:25px;}
.caissa-padb30{ padding-bottom:30px;}
.caissa-padb35{ padding-bottom:35px;}
.caissa-padr10{ padding-right:10px;}
.caissa-padr15{ padding-right:15px;}
.caissa-padr20{ padding-right:20px;}
.caissa-padr25{ padding-right:25px;}
.caissa-padr30{ padding-right:30px;}
.caissa-padr35{ padding-right:35px;}
.caissa-padl10{ padding-left:10px;}
.caissa-padl15{ padding-left:15px;}
.caissa-padl20{ padding-left:20px;}
.caissa-padl25{ padding-left:25px;}
.caissa-padl30{ padding-left:30px;}
.caissa-padl35{ padding-left:35px;}
.caissa-padl100{ padding-left:100px;}
.caissa-pad20{ padding:20px;}
.caissa-pad10{ padding:10px;}
.caissa-padlr7{ padding:0 7px;}
.caissa-padlrb{ padding:0 20px 20px;}
.caissa-marl90{ margin-left:90px;}
.caissa-marl10{ margin-left:10px;}
.caissa-marl20{ margin-left:20px;}
.caissa-marl129{ margin-left:129px;}
/****************************************/
.caissa-pad30{padding:30px;}
.caissa-mar20{ margin:20px;}
.caissa-marb1{margin-bottom:1px;}
.caissa-marb5{ margin-bottom:5px;}
.caissa-marb10{ margin-bottom:10px;}
.caissa-marb15{ margin-bottom:15px;}
.caissa-marb20{ margin-bottom:20px;}
.caissa-marb25{ margin-bottom:25px;}
.caissa-marb30{ margin-bottom:30px;}
.caissa-marb35{ margin-bottom:35px;}
.caissa-marr10{ margin-right:10px;}
.caissa-marr15{ margin-right:15px;}
.caissa-marr20{ margin-right:20px;}
.caissa-marr25{ margin-right:25px;}
.caissa-marr30{ margin-right:30px;}
.caissa-marr35{ margin-right:35px;}
.caissa-marl10{ margin-left:10px;}
.caissa-marl15{ margin-left:15px;}
.caissa-marl20{ margin-left:20px;}
.caissa-marl25{ margin-left:25px;}
.caissa-marl30{ margin-left:30px;}
.caissa-marl39{ margin-left:39px;}
.caissa-marl88{ margin-left:88px;}
.caissa-marl35{ margin-left:35px;}
/****************************************/
.caissa-lf{ float:left;}
.caissa-rg{ float:right;}
.caissa-lineh18{ line-height:18px;}
.caissa-lineh20{ line-height:20px;}
.caissa-lineh23{ line-height:23px;}
.caissa-lineh25{ line-height:25px;}
.caissa-lineh28{ line-height:28px;}
.caissa-lineh30{ line-height:30px;}
.caissa-lineh33{ line-height:33px;}
.caissa-lineh35{ line-height:35px;}
.caissa-lineh38{ line-height:38px;}
.caissa-lineh40{ line-height:40px;}
.caissa-clr3{color:#333;}
.caissa-clr6{color:#666;}
.caissa-clr9{color:#999;}
.caissa-clr0{color:#000;}
.caissa-clrf{color:#fff;}
.caissa-ovflow{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
input[type='text'].caissa-input, input[type='text'].caissa-input30,input[type='text'].caissa-input25{box-sizing:border-box; border:1px solid #d0d0d0; border-radius:2px; padding:0 5px;}
input[type='text'].caissa-input25{height:25px; line-height:25px;}
input[type='text'].caissa-input{ height:28px; line-height:28px;}/*28px为默认可修改*/
input[type='text'].caissa-input30{height:30px; line-height:30px;}
input[type='text'].caissa-input:focus{ border-color:#999;}
textarea{border:1px solid #d0d0d0; border-radius:2px; box-sizing:border-box; padding:5px;}
textarea.caissa-textarea-wd400{  height:120px; width:400px; }
textarea.caissa-textarea-wd480{  height:120px; width:480px; }
textarea.caissa-textarea-wd920{  height:120px; width:920px; }
textarea:focus{border-color:#999;}
.caissa-blod{ font-weight:bold;}
.caissa-col-blue{color:#5094fa}
/********************************************************************/
.caissa-lfbac{background:#fbfcfd;}
.caissa-layout-bac01{background:#fafafa;}
.caissa-layout-line01{border-bottom:#e8e8e8 dashed 1px; border-top:#e8e8e8 dashed 1px;}
.caissa-wd50{ width:50px;}
.caissa-wd58{ width:58px;}
.caissa-wd60{ width:60px;}
.caissa-wd65{ width:65px;}
.caissa-wd100{ width:100px;}
.caissa-wd120{ width:120px;}
.caissa-wd130{ width:130px;}
.caissa-wd135{width: 135px;}
.caissa-wd147{ width:147px;}
.caissa-wd148{ width:148px;}
.caissa-wd170{ width:170px !important;}
.caissa-wd200{ width:200px;}
.caissa-wd258{ width:258px;}
.caissa-wd268{ width:268px;}
.caissa-wd298{ width:298px;}
.caissa-wd300{ width:300px;}
.caissa-wd668{ width:668px;}
.caissa-wd380{ width:380px;}
.caissa-wd590{ width:590px;}
.caissa-hg25{ height:25px;}
.caissa-hg30{ height:30px;}
.caissa-btn04{border:#fff solid 1px; background:#fff; width:100px; height:30px; line-height:28px; cursor:pointer; text-align:left; color:#7d91c3;}
.caissa-alignri{text-align:right;}
.caissa-alignle{text-align:left;}
.caissa-alignce{text-align:center;}
.caissa-text-b{ font-weight:bold;}
.caissa-dashed{border-bottom:1px dashed #d0d0d0;}
.caissa-title03{color:#686868; font-size:16px; font-weight:bold; padding:20px 0px;}
.caissa-ico01,.caissa-hot,.caissa-cur01,.caissa-ico02{background:url(../../images/cy_ico.png) 0 0 no-repeat;}
.caissa-ico01{background-position:5px -83px;}
.caissa-hot{cursor:pointer; display:block; float:left; background-position:right -113px; padding:0px 18px 0px 5px; height:26px; line-height:26px; font-size:12px; margin-right:5px;}
.caissa-hot:hover{background-position:right -143px; height:24px; box-sizing:border-box; line-height:24px; border:#d4b04f solid 1px;}
.caissa-ico02{background-position:0 -314px;}
/********************************************************************/
/*common end*/
/*icon*/
.caissa-icon01{background:url(../../images/icon.png) no-repeat;}
.caissa-icon02{background:url(../../images/cy_ico.png) 0 0 no-repeat;}
.caissa-icon03{background:url(../../images/cy_ico.png) 0 0 no-repeat;}
/*button start*/
.caissa-btn01,.caissa-btn02,.caissa-btn08{font-size:14px;line-height:28px; display:inline-block;margin:0 5px;height:30px; border:none; cursor:pointer; background-color:#f5b100; color:#FFF; border-radius:3px;width:102px;text-align:center;box-sizing:border-box;}
.caissa-btn01:hover{ background:#fbbc00;}
.caissa-btn02{color:#656565;background-color:#edf4fd;border:#cfcfcf 1px solid;}
.caissa-btn02:hover{ background-color:#f3f6fa;}
.caissa-btn-custom,.caissa-btn-print,.caissa-btn-export{cursor:pointer; display:block; height:22px; line-height:22px; float:left; margin:0 10px;}
.caissa-btn-custom{ border:1px solid #ccc; border-radius:3px; padding:0 5px;}
.caissa-btn-custom:hover{ color:#f7b000}
.caissa-btn-print{background-position:-20px 0; padding:0 10px; margin-top:3px;}
.caissa-btn-disPrint{background-position:-40px 0;}
.caissa-btn-print:hover{background-position:0 0;}
.caissa-btn-disPrint:hover{background-position:-40px 0;}
.caissa-btn-export{ background-position:-20px -20px; padding:0 10px;}
.caissa-btn-export:hover{background-position:0 -20px;}
.caissa-btn-disExport{ background-position:-40px -20px;}
.caissa-btn-disExport:hover{background-position:-40px -20px;}
.caissa-btn03{display:inline-block;padding:0 5;border:1px solid #f7b000;border-radius:3px;text-align:center;background:#fafafa;color:#656565; box-sizing:border-box; width:100px; overflow:hidden;}
.caissa-btn03:hover {background:#fcecba;}
.caissa-btn04{border:#edc65f solid 1px; border-radius:2px; cursor:pointer; background:#fae797; color:#676767; width:63px; height:24px; line-height:24px; cursor:pointer; padding:0 5px;}
.caissa-btn05{border:#fff solid 1px; background:#fff; width:100px; height:30px; line-height:28px; cursor:pointer; text-align:left; color:#7d91c3;}
.caissa-btn06,.caissa-btn07{ text-align:center; cursor:pointer; height:20px; line-height:16px; width:80px; border-radius:3px;}
.caissa-btn06{ border:1px solid #5595f7; background:#5595f7; color:#fff;}
.caissa-btn07{border:1px solid #cfcfcf; background:#edf4fd; color:#656565;}
.caissa-btn08{ background:#fafafa;color:#656565;border:#cfcfcf 1px solid;}

/********************************************************************/
/*button end*/
/*toolbar start*/
.caissa-toolbar a {margin:7px 10px 7px 0;}
.caissa-toolbar a:last-child {margin-right:0;}

/*toolbar end*/
/*action start*/
.caissa-action{background:#f8fafe; padding:5px; height:25px; border:1px solid #e6e6e6; border-bottom:none;}
/*action start*/
/*标题*/
.caissa-title01{width:100%; height:36px; line-height:35px; font-size:14px; border-bottom:1px dashed #edf4fc;}
.caissa-title01 p{background:#edf4fc; height:35px}
.caissa-title01 p span{ display:inline-block; width:110px; line-height:25px; text-align:center; background:#4c95f3; color:#fff; margin:5px 10px; border-radius:4px;}
.caissa-title02{display:block; color:#fff; width:150px; height:30px; font-size:16px; line-height:30px; text-align:center; background:#4f93fb; font-weight:bold;}
.caissa-title03{display:block; font-weight:normal; color:#4f93fb; font-size:16px; padding:5px 0px;}
.caissa-title04{border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc;color:#676767; padding-left:24px; font-size:14px;}
.caissa-title05{background:#4f93fb;color:#fff;font-size:14px;height:20px; line-height:18px; text-align:center; width:100px;}
.caissa-title06{color:#686868; font-size:16px;}
.caissa-title07{display:block;color:#5493fa; font-weight:bold; font-size:16px; padding:10px; background:#eef2fb;}
.caissa-title08{border:1px solid #d8e8f8; border-bottom:none;display:block;color:#666666; text-align:center; font-weight:bold; font-size:16px; padding:10px; background:#fbfcfe;}
.caissa-title09{color:#4e92fa; font-size:14px; border-bottom:#62b9fd solid 1px; padding-bottom:3px;}
/*标题end*/

/*td 常用宽度*/
.caissa-td85{width:85px; text-align:right;}
.caissa-td148{width:148px;}
.caissa-td54{ width:54px;}
.caissa-td60{ width:54px;}
/*table d0d0d0实线*/
.caissa-tb-line01{ border:#d0d0d0 solid 1px; width:100%;}
.caissa-tb-line01 td,.caissa-tb-line01 th{ border:#d0d0d0 solid 1px; padding:5px;}
/*添加 +,删除 -后面文字类型*/
.caissa-add-line,.caissa-del-line,.caissa-add-grey,.caissa-del-grey,.caissa-del-red{color:#f7af00; font-size:14px; display:block; padding:0px 0px 0px 20px; cursor:pointer; background:url(../../images/cy_ico.png) no-repeat; display:inline-block;}
.caissa-add-line{font-weight:bold; background-position:0px -214px; line-height:22px;}
.caissa-del-line{ background-position:0 -182px;}
.caissa-add-grey{background-position:0 -47px; color:#676767;}
.caissa-del-grey{background-position:5px -24px; padding:11px;}
.caissa-del-red{background-position:0 -395px; height:38px;}

/*通用布局*/
.caissa-main{ width:1100px; margin:0 auto;}
.caissa-content{ width:1100px; margin:0 auto; padding-bottom:20px; }
.caissa-header{}
.caissa-footer{}
/*nav start*/
.caissa-nav{border-bottom:1px solid #4f93fb; line-height:40px; height:40px; color:#333;}
.caissa-nav a{color:#333;}
/*nav end*/

/*模块底线*/
.caissa-botline{border-bottom:1px solid #edf4fd;}
.caissa-botline01{border-bottom:1px solid #66bafa}
/*table e6e6e6实线*/
.caissa-content-pad02{padding:20px 50px;}
.caissa-tb-line02{ border-top:#e6e6e6 solid 1px; border-left:#e6e6e6 solid 1px; width:100%; table-layout:fixed;}
.caissa-tb-line02 .caissa-wd170{ text-align:right; }
.caissa-tb-line02 td,.caissa-tb-line02 th{ border-bottom:#e6e6e6 solid 1px; border-right:#e6e6e6 solid 1px; padding:5px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.caissa-tb-line02 th.caissa-th-title,.caissa-tb-line02 th.caissa-th-title02{color:#5395f8; padding-left:15px; background:#e2e2e2; text-align:left; font-weight:bold;}
.caissa-tb-line02 th.caissa-th-title02{color:#5395f8; background:#eef3fb;}
.caissa-inp01{display:block; float:left; position:relative; }
.caissa-pos01{cursor:pointer; display:block; height:25px !important; width:20px; top:4px; right:2px; position:absolute;}
.caissa-td-bace2{background:#e2e2e2;}
.caissa-td-bacfa{background:#fafafa;}
.caissa-td-bacfb{background:#fbfbf0;}
.caissa-td-bacfc{background:#fbfcfe;}
.caissa-td-bacee{background:#eef3fb;}
.caissa-td-bace6{background:#e6e6e6;}
.caissa-td-bacbfe{background:#bfeff3}
.caissa-wordscol01{ color:#5395f8;}
.caissa-lab01{overflow:hidden;}
.caissa-fsize12{font-size:12px;}
.caissa-colf7{ color:#f7af00;}
.caissa-bgfbc{background:#fbfcfe;}


/*tab start*/
.caissa-tab-all{overflow:hidden;}
.caissa-tab-con01,.caissa-tab-conin01{overflow:hidden;}
.caissa-tab-cons{background:#fafafa; padding:20px 20px 50px; overflow:hidden;}
/*tab end*/
/*行程模板弹窗start*/
.caissa-bombox01{border:#cbdbec solid 4px; padding:2px; position:fixed; left:50%; top:50%;  margin-left:-300px; margin-top:-165px; background:#FFF; display:none;}
.caissa-bombox-nav{height:26px; background:#eef4fd; padding:4px;}
.caissa-bombox-tab01{overflow:hidden;}
.caissa-tab01{width:138px; height:26px; cursor:pointer; color:#5295f7; border-radius:3px; font-weight:bold; font-size:14px; text-align:center; float:left; margin-right:15px; line-height:24px;}
.caissa-tab01:last-child{ margin-right:none;}
.caissa-tab01:hover{width:136px; border:1px solid #5396f7; height:24px;line-height:22px;}
.caissa-tab-cur{background:#5396f7; color:#fff; height:26px; line-height:24px;}
.caissa-layout-pub ul{overflow:hidden;}
/*行程模板弹窗end*/


/*步骤1、2、3、4、5*/
.caissa-step{ margin:0 20px;}
.caissa-step ul{ overflow:hidden;}
.caissa-step ul li{color:#a78758;margin:0 15px;height:47px; width:185px; float:left; position:relative; background:url(../../images/flow.jpg) no-repeat; box-sizing:border-box; overflow:hidden; padding:0 30px; box-sizing:border-box; line-height:45px; cursor:pointer;}
.caissa-step ul li:first-child{ margin-left:0;}
.caissa-step ul li:last-child{ margin-right:0;}
.caissa-step ul li.unfinished{ background-position:-429px 0; padding:0; padding-left:30px; color:#e2e2e2;}
.caissa-step ul li.active{ background-position:-214px 0; padding:0; padding-left:30px; padding-right:20px; width:205px; margin-right:-5px;}
.caissa-step ul li span{display:block; height:45px; text-align:center; overflow:hidden;}
.caissa-step ul li .left{display:block; position:absolute;left:0; top:0; width:30px; background:url(../../images/icon-png1.png) no-repeat -12px 4px;}
.caissa-step ul li .right{display:block; position:absolute;right:0; top:0; width:30px;}
.caissa-step ul li.active .right,.caissa-step ul li.unfinished .right{display:none;}
.caissa-step ul li span.num1{background-position:-12px 4px;}
.caissa-step ul li span.num2{background-position:-43px 4px;}
.caissa-step ul li span.num3{background-position:-74px 4px;}
.caissa-step ul li span.num4{background-position:-105px 4px;}
.caissa-step ul li span.num5{background-position:-136px 4px;}
.caissa-step ul li span.num6{background-position:-164px 4px;}
.caissa-step ul li span.num7{background-position:-191px 4px;}
.caissa-step ul li span.num8{background-position:-217px 4px;}
/*地址 交通方式*/
.caissa-t-s{position:relative; display:block; float:left;}
.caissa-t-s .caissa-hot{position:absolute; right:2px; top:-2px;}
/*搜索提示*/
.caissa-srh-tip{position:relative; float:left;}
.caissa-tip-list{position:absolute;  border:1px solid #d0d0d0; border-top:none; width:100%; box-sizing:border-box; overflow:hidden;word-wrap:break-word;word-break:break-all; display:none; z-index:5; background:#FFF;}
.caissa-tip-list ul{ padding:0!important; max-height:140px; overflow:auto;}
.caissa-tip-list ul li{ padding:0 5px!important;}
.caissa-tip-list ul li:hover{ background:#f8f8f8;}
/*图片列表*/
.caissa-img-list{*+height:1%;}
.caissa-img-list:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.caissa-img-list .img{ position:relative; box-sizing:border-box; padding:5px; border-radius:4px; border:1px solid #f0f0f0; box-shadow:0px 1px 1px rgba(0,0,0,0.075); background:#FFF; width:130px; height:130px; float:left; margin:0 20px 20px 0; overflow:hidden;}
.caissa-img-list .img:last-child{ margin-right:0;}
.caissa-img-list .img .error,.caissa-img-list .img .info,.caissa-img-list .img .caissa-del-grey{ position:absolute;}
.caissa-img-list .img .caissa-del-grey{top:0; right:0; cursor:pointer; background:#fff url(../../images/cy_ico.png) no-repeat 2px -22px;}
.caissa-img-list .img .info{ height:24px; background:rgba(255,255,255,0.75); line-height:24px; bottom:5px; width:100%;}
.caissa-img-list .img img{ width:100%; max-width:100%; display:block;}