<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"  
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
xmlns:aop="http://www.springframework.org/schema/aop"  
xmlns:tx="http://www.springframework.org/schema/tx"  
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"> 

   <!-- 日志切面 -->
   <bean id="logAop" class="com.sys.common.LogAop" />
 	<aop:config>
      <aop:aspect ref="logAop">
        <!-- 定义切面 -->
          <aop:pointcut id="allMethodInvocationPointcut" expression="execution(* com.sys..*.*(..))"/>
          <!-- 建立切面与通知间的调用方法关系 -->
          <aop:around method="logRoundMethod" pointcut-ref="allMethodInvocationPointcut"/>
      </aop:aspect>
   </aop:config>
</beans>
