<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="no">

	<!--  -->
	<bean id="accountDao" class="com.sys.spring.account.dao.AccountDaoImpl">
	   <property name="jdbc" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="incomeDao" class="com.sys.spring.account.dao.IncomeDaoImpl">
	   <property name="jdbc" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="diaryDao" class="com.sys.spring.account.dao.DiaryDaoImpl">
	   <property name="jdbc" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="kindDao" class="com.sys.spring.account.dao.KindDaoImpl">
	   <property name="jdbc" ref="jdbcTemplate"></property>
	</bean>
	
	<!-- 用户信息 -->
	<bean id="userDao" class="com.sys.spring.user.dao.UserDaoImpl">
	   <property name="jdbc" ><ref bean="jdbcTemplate"/> </property>
	</bean>
	
</beans>
