<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sys.dao.account.IncomeDao">

    <resultMap id="IncomeMap" type="com.sys.domain.account.Income">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="VARCHAR" />
		<result column="kid" property="kid" jdbcType="VARCHAR" />
		<result column="kindid" property="kindid" jdbcType="VARCHAR" />
		<result column="kindtitle" property="kindtitle" jdbcType="VARCHAR" />
		<result column="datetime" property="datetime" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>
    
	<sql id="Base_Column_List">
	id,uid,title,money,kid,kindid,kindtitle,datetime,userid,username
    </sql>
    
	<insert id="insert" parameterType="com.sys.domain.account.Income" >
		insert into income 
        <trim prefix="(" suffix=")" suffixOverrides="," >
        	uid,
        	<if test="title != null and title != ''">
                title,
            </if>
        	<if test="money != null and money >0 ">
                money,
            </if>
        	<if test="kid != null and kid != ''">
                kid,
            </if>
        	<if test="kindid != null and kindid != ''">
                kindid,
            </if>
        	<if test="kindtitle != null and kindtitle != ''">
                kindtitle,
            </if>
        	<if test="datetime != null and datetime != ''">
                datetime,
            </if>
        	<if test="userid != null and userid != ''">
                userid,
            </if>
        	<if test="username != null and username != ''">
                username,
            </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
        	#{uid,jdbcType=VARCHAR},
        	<if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
        	<if test="money != null and money >0 ">
                #{money,jdbcType=VARCHAR},
            </if>
        	<if test="kid != null and kid != ''">
                #{kid,jdbcType=VARCHAR},
            </if>
        	<if test="kindid != null and kindid != ''">
                #{kindid,jdbcType=VARCHAR},
            </if>
        	<if test="kindtitle != null and kindtitle != ''">
                #{kindtitle,jdbcType=VARCHAR},
            </if>
        	<if test="datetime != null and datetime != ''">
                #{datetime,jdbcType=VARCHAR},
            </if>
        	<if test="userid != null and userid != ''">
                #{userid,jdbcType=VARCHAR},
            </if>
        	<if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.sys.domain.account.Income" >
	    update income
	    <set >
	      <if test="title != null and title != ''" >
	        title = #{title,jdbcType=VARCHAR},
	      </if>
	      <if test="money != null " >
	        money = #{money,jdbcType=VARCHAR},
	      </if>
	      <if test="datetime != null and datetime != ''" >
	        datetime = #{datetime,jdbcType=VARCHAR},
	      </if>
	      <if test="kindid != null and kindid != ''" >
	        kindid = #{kindid,jdbcType=VARCHAR},
	      </if>
	      <if test="kid != null and kid !=''" >
	        kid = #{kid,jdbcType=VARCHAR},
	      </if>
	      <if test="kindtitle != null and kindtitle !=''" >
	        kindtitle = #{kindtitle,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where id = #{id,jdbcType=VARCHAR}
	    
    </update>
    
	<select id="selectById" resultMap="IncomeMap" parameterType="int" >
		select <include refid="Base_Column_List"/> from income where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<update id="deleteById" parameterType="int" >
	    delete from income where id = #{id,jdbcType=VARCHAR}
    </update>
	
	<select id="select" resultMap="IncomeMap" parameterType="com.sys.domain.account.Income" >
	    select <include refid="Base_Column_List"/> from income
	    where 1=1
	    <if test="kid != null and kid !=''" >
	        and kid = #{kid,jdbcType=VARCHAR} 
	    </if>
	    <if test="kindid != null and kindid !=''" >
	        and kindid = #{kindid,jdbcType=VARCHAR} 
	    </if>
	    <if test="userid != null and userid != ''" >
	        and userid = #{userid,jdbcType=VARCHAR}
	    </if>
	    <if test="title != null and title != ''" >
	        and title like CONCAT('%', CONCAT(#{title,jdbcType=VARCHAR}, '%'))
	    </if>
	    <if test="money != null and money > ''" >
	    	<![CDATA[
	        and money > #{money,jdbcType=VARCHAR}
	        ]]>
	    </if>
	     order by datetime desc
	</select>
	
</mapper>